
/* -- 9tiuu | MyWeb-HTML-CSS -- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'fira sans';
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 0 30px 0 #0000003e;
    height: 70px; 
    top: 0;
    position: sticky;

    --position1: scale(1);
    --position2: scale(0);
    --position3: scale(0);
}

nav:has(.dropdown:target) {
    --position1: scale(0);
    --position2: scale(1);
    --clip: inset(0 0 0 0);
}

/* NAVBAR / DROPDOWN */
nav img{
    height: 45px;
    grid-area: icon;
}

.nav-section {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: 'asd entidad icons';
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    overflow: hidden; 
}

.nav_menu {
    transform: var(--position3);
    grid-area: icons;
    position: relative;
    z-index: 10;
}

.nav_menu2 {
    transform: var(--position3);
    
}

.nav_icon {
    width: 30px;
    display: block;
    
}

.entidad {
    padding: 1.4rem;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
}

.entidad:hover {
    color: #4651FE;
}

.dropdown {
    clip-path: var( --clip, inset(0 0 0 100%));
    transition: clip-path .4s;
    background-color: #ffffff;
    position: absolute;
    font-weight: 500;
    width: 65%;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 3em;
    display: grid;
    align-content: start;
    gap: 1rem;
    font-size: 20px;
}

.dropdown a {
    color: black;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.dropdown a:hover {
    color: #4651FE;
}

.dropdown-fondo {
    clip-path: var( --clip, inset(100% 0 0 100%));
    transition: clip-path .0s .1s;
    background-color: #00000049;
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    bottom: 0;  
}

.dropdown-list {
    list-style: none;
}

.dropdown-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-weight: 600;
    padding: 1em .0em;
    gap: .6rem;
}

@media screen and (max-width: 950px) {
    nav {
        display: grid;
        place-items: center;
    }
    nav img {
        width: 0;
    }

    .entidades {
        transform: var(--position3);
        grid-area: entidad;
    }

    .entidad {
        padding: 0;
    }

    .nav_menu {
        transform: var(--position1);
    }
    
    .nav_menu2 {
        transform: var(--position2);
    }
}

/* HEADER */
header {
    width: 100%;
    height: 660px;  
    background: -webkit-linear-gradient(to right, hsla(0, 0%, 0%, 0.458), hsla(0, 0%, 0%, 0.6)), url(../img/Home-img.png);  
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.458), hsla(0, 0%, 0%, 0.6)), url(../img/Home-img.png); 
    background-size: cover;
    background-attachment: fixed;

    display: grid;
    place-items: center;  
}

.hero {
    display: grid;
    place-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.hero h2 {
    display: flex;
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 10px;
}

.hero p {
    display: flex;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 30px;
}

.hero a {
    display: grid;
    place-items: center;
    color: #ffffff;
    text-decoration: none;
    background: linear-gradient(to right, #4651FE, #4787ff); 
    border-radius: 50px;
    font-weight: 600;
    width: 40%;
    height: 40px;
}

.hero a:hover {
   background: linear-gradient(to right, #3b46d7, #3f78e4); 
}

@media screen and (max-width: 700px) {
    .hero h2 {
        font-size: 50px;
    }
    
    .hero p {
        font-size: 15px;
    }

    .hero a {
        width: 50%;
    }
}

/*  TITULOS */

.titulo {
    display: grid;
    place-items: center;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
    color: #4651FE;
}

/* NOSOTROS */

.sobre-nosotros {
    display: flex;
    align-items: center;
    justify-content: center;   
}

.sobre-nosotros img {
    width: 35%;
    border-radius: 15px;
    margin-right: 100px;
}

.sobre-nosotros-textos {
    width: 34%;
}

.sobre-nosotros-textos h3 {
    font-size: 25px;
    margin-bottom: 15px;
}

.sobre-nosotros-textos p {
    text-align: justify;
    margin-bottom: 20px;
    color: #565656;
}

.sobre-nosotros-textos a {
    display: grid;
    place-items: center;
    color: #ffffff;
    background: linear-gradient(to right, #4651FE, #4787ff); 
    box-shadow: 0 0 30px 0 #0000003e;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
    width: 30%;
    height: 40px;
}

.sobre-nosotros-textos a:hover {
    background: linear-gradient(to right, #3b46d7, #3f78e4); 
}


@media screen and (max-width: 950px) {
    .sobre-nosotros {
        flex-direction: column-reverse;
    }

    .sobre-nosotros img {
        width: 70%;
        margin-right: 0;
        margin-top: 50px;
    }
    
    .sobre-nosotros-textos {
        width: 70%;
    }

    .sobre-nosotros-textos a {
        width: 150px;
    }
}

/* SERVICIOS */
.servicios {
    margin-bottom: 80px;
}

.servicios-x {
    display: flex;
    justify-content: space-evenly;
}

.tarjetas {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 0 30px 0 #00000022;
    border-radius: 20px;
    width: 30%;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.servicio {
    width: 75%;
    text-align: center;
}

.servicio img {
    width: 40%;
    margin-bottom: 45px;
}


.servicio h3 {
    margin-bottom: 15px;
    font-size: 25px;
}

.servicio p {
    color: #565656;
}

.linea-decoracion {
    background: linear-gradient(to right, #4651FE, #4787ff); 
    border-radius: 50px;
    height: 5px;
}

.servicios-v {
    display: flex;
    align-items: center;
    justify-content: center;   
}

.servicios-v img {
    width: 40%;
    margin-left: 100px;
    border-radius: 20px;
}

.servicios-textos {
    width: 30%;
}

.servicios-textos h3 {
    font-size: 25px;
    margin-bottom: 15px;
}

.servicios-textos p {
    text-align: justify;
    margin-bottom: 20px;
    color: #565656;
}

@media screen and (max-width: 950px) {
    .servicios-x {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .tarjetas {
        width: 80%;
        margin-bottom: 50px;
    }

    .servicio img {
        width: 35%;
    }

    .servicios-v {
        flex-direction: column;
    }

    .servicios-v img {
        margin-top: 30px;
        margin-left: 0;
        width: 70%;
    }

    .servicios-textos {
        width: 70%;
    }
}

/* CONTACTO */
.form {
    display: grid;
    place-items: center;
}

.form-m {
    width: 60%;
}

form {
    margin-bottom: 50px;
    background-color: #ffffff;
    box-shadow: 0 0 30px 0 #00000022;
    border-radius: 20px;
    padding: 3em 3em;
}

.form-input, .form-boton {
    font-family: 'fira sans';
}

.form-cuerpo {
    width: 100%;
    display: grid;
    gap: 1.2em;
    grid-auto-columns: 100%;
}

.form-titulo {
    font-size: 30px;
    color: #000000;
}

.form-input {
    font-size: 15px;
    padding: 1em 1em;
    border: 1px solid #bbbbbb;
    border-radius: 8px;
}

.form-mensaje {
    resize: none;
    padding: 1em 1em;
    height: 100px;
    
}

.form-boton {
    background: linear-gradient(to right, #4651FE, #4787ff); 
    box-shadow: 0 0 30px 0 #0000003e;
    color: #ffffff;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 50px;
    height: 40px;
    width: 20%;
}

.form-boton:hover {
    background: linear-gradient(to right, #3b46d7, #3f78e4); 
}

@media screen and (max-width: 950px) {
    .form-m {
        width: 90%;
    }

    .form-boton {
        width: 50%;
    }
}

/* FOOTER */
.fondo-footer {
    align-items: center;
    justify-content: center;
    background: #F6F6F6;
    height: 230px;
}

.logo-Datavh img {
    align-items: center;
    justify-content: center;
    height: 60px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.textos-footer {
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
}

.textos-footer a {
    padding: 1%;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.textos-footer a:hover {
    color: #4651FE;
}

.autor-copyright {
    display: flex;
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 14px;
}

@media screen and (max-width: 950px) {
    .cuerpo-contacto {
        flex-direction: column;
    }

    .cuerpo-contacto img {
        width: 6%;
    }

    .cuerpo-contacto .ubicacion, .telefono, .correo {
        width: 80%;
        margin-bottom: 50px;
    }

    .textos-footer {
        justify-content: center;
        align-items: center;
    }
}